# Ignore environment variables file
.env

# Ignore virtual environment directory
myenv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code settings
.vscode/

# Environment specific files
.DS_Store
