streamlit==1.45.1
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.6.1
openai==1.79.0
google-genai==1.16.1
matplotlib==3.10.3
seaborn==0.13.2
langchain==0.3.25
langchain-community==0.3.24
pypdf==5.5.0
python-dotenv==1.1.0
faiss-cpu==1.11.0 